.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 157px;

  @include mobile {
    margin-top: 0;
  }

  &__title {
    display: flex;
    align-self: center;

    width: 853px;
    height: 104px;

    text-align: center;
    font-family: "Orelega One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    color: $blue-01;

    @include mobile {
      width: 90vw;
    }
  }

  &__button {
    margin-bottom: 123px;

    @include mobile {
      margin-top: 240px;
      margin-bottom: 20px;
    }

    &-text {
      margin-right: 20px;

      font-family: "Orelega One", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      color: #fff;
    }

    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    text-decoration: none;

    width: 280px;
    height: 48px;
    background: $red-01;
  }
}
