.main {
  margin-top: 100px;

  @include mobile {
    margin-top: 50px;
  }

  &__title {
    text-align: center;
    font-size: 60px;
    line-height: 65px;
    color: $blue-01;
  }

  &__subtitle {
    text-align: center;
    margin-top: 20px;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: 0.22em;
    text-transform: uppercase;

    color: $dark-03;
  }

  &__content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      margin-top: 20px;
    }

    &-description {
      width: 558px;
      height: 173px;
    }

    &-photo {
      @include mobile {
        visibility: hidden;
      }
    }
  }
}

.description-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: $dark-01;

  &:not(:first-child) {
    margin-top: 18px;
  }

  @include mobile {
    max-width: 90vw;
  }
}

.send-form {
  margin-top: 55px;

  width: 557px;
  height: 495px;

  background: #fff;
  border: 1px solid $dark-04;

  @include mobile {
    margin-top: 20px;
    width: 90vw;
    height: 380px;
  }

  &__inputs {
    margin-top: 111px;
    margin-left: 30px;

    @include mobile {
      margin-top: 30px;
      margin-left: 10px;
    }
  }

  &__label {
    display: block;
    width: 100%;

    &-driveExp {
      position: relative;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__input {
    width: 497px;
    height: 62px;
    padding-left: 30px;

    background: #f9f9f9;
    border: 1px solid $blue-01;

    @include mobile {
      width: 95%;
    }

    &-driveExp {
      width: 497px;
      height: 62px;
      padding-left: 30px;

      background: #f9f9f9;
      border: 1px solid $blue-01;

      @include mobile {
        width: 95%;
      }

      &::placeholder {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: $dark-01;
      }
    }
    &-arrow {
      position: absolute;
      right: 5px;
      top: 3px;
    }
  }

  &__button {
    margin-top: 40px;
    margin-left: 30px;

    font-family: "Orelega One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

    width: 200px;
    height: 48px;
    background: $blue-02;

    @include mobile {
      margin-top: 25px;
      margin-left: 10px;
    }
  }
}
